footer {
    background-color: var(--primary-color);
    height: 442px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 0 2rem 0;
}

footer .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .footer-content h3 {
    font-size: 20px;
    font-weight: 600;
}

footer .footer-content li {
    font-size: 15px;
    font-weight: 400;
    color: var(--footer-paragraph);
    cursor: pointer;
}

footer .footer-content li:hover {
    text-decoration: underline;
}

footer .footer-content .logo {
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .footer-content .social-wrapper ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 14px;
    margin-top: 16px;
}

footer .footer-content .useful-links ul {
    margin-left: 1.1rem;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

footer .footer-content .contacts ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

footer .rights {
    font-size: 15px;
    font-weight: 400;
    color: #7D7A74;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}