:root {
    --primary-color: #F9E0AE;
    --secondary-color: #C24914;
    --dark-secondary-color: #682C0E;
    --light-text: rgba(0,0,0,0.46);
    --light-orange: #FC8621;
    --footer-paragraph: #6C6C6C;
}